volumes/db/data
volumes/storage
.env
test.http
docker-compose.override.yml

# NÃO subir os dados do banco
volumes/db/data/

# NÃO subir as chaves de acesso
.env

# Ignorar arquivos de sistema
.DS_Store
*.log